.contenedor-cargador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    color: rgb(0, 0, 0);
  }
  
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top-color: rgb(0, 0, 0);
    border-radius: 50%;
    animation: girar 1s linear infinite;
  }
  
  @keyframes girar {
    to {
      transform: rotate(360deg);
    }
  }
  
  .contenedor-cargador p {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
  }