.main-layout {
  text-align: center;
  padding: 20px;
}

.tabs {
  margin-bottom: 40px;
}

.tab-btn {
  padding: 10px 30px;
  border: none;
  background: #020101;
  cursor: pointer;
}

.tab-btn.active {
  background: #333;
  color: white;
  font-weight: bold;
}